# Note: SQLite3 is included in the Python Standard Library and does not require a separate installation.
streamlit
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-dotenv

# Additional libraries for constraint programming and data science utilities
python-constraint
plotly
matplotlib
numpy
pandas
ortools
minizinc
docplex
setuptools
dspy
openai
watchdog
mlflow>=2.18.0
# https://github.com/stanfordnlp/dspy/issues/7825
sqlite=3.42.0
pydantic


